{% include 'navbar.html' %}
<!---->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h6 class="display-5">About TTM</h6>
      <p class="lead">
        A simple Travel Tourism Management website built using Django and
        Bootstrap
      </p>
    </div>
  </div>
</div>
