{% extends 'navbar.html' %}

<!---->
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h6 class="display-6">Welcome to eZy</h6>
      <p class="lead">
        A simple e Survey Platform built using Django and Bootstrap
      </p>
    </div>
  </div>

  {% endblock %}
</div>
