{% include '../home/_base.html' %}

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5 me-lg-n5">
          <div class="card-body p-sm-5">
            <h5 class="text-center mb-5 display-6">Login</h5>
            <form method="POST">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter username"
                  required
                />
                <label for="username">Username</label>
                <div class="invalid-feedback">Please provide a username.</div>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                  required
                  minlength="8"
                />
                <label for="password">Password</label>
                <div class="invalid-feedback">
                  Password must be at least 8 characters long.
                </div>
              </div>

              <div class="d-grid">
                <button
                  class="btn btn-primary btn-login fw-semibold text-uppercase rounded-pill border-0 py-2"
                  type="submit"
                >
                  Proceed
                </button>
              </div>
            </form>

            <a
              href="{% url 'register' %}"
              class="link-offset-2 link-underline link-underline-opacity-50 p-2 mt-2"
            >
              Don't have an account? Register here
            </a>
            <br />
            <a
              href="{% url 'home' %}"
              class="link-offset-2 link-underline link-underline-opacity-50 p-2 mt-2"
            >
              Go back to home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
