{% include "_base.html" %}
<!--  -->
{% block unav %}
<!--  -->

<!--  -->
<div class="container">
  {% for message in messages %}
  <!--  -->

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <form action="{% url 'save_user' %}" method="post">
      {% csrf_token %}
      <!--  -->
      {% for message in messages %}
      <input type="text" name="username" value="{{message}}" hidden />
      {% endfor %}
      <button
        type="submit"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </form>
  </div>
  <!--  -->
  {% endfor %}
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'user_index' %}">eZy</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a href="#"><li class="nav-item">Form Analytics</li></a>
      </ul>
      <a href="#" class="link px-4">Manage profile</a>
      <a href="{% url 'home' %}"
        ><button class="btn btn-outline-primary">Logout</button></a
      >
    </div>
  </div>
</nav>
{% endblock %}
<!--  -->
<h2 class="display-6">Welcome to the user index page</h2>
<p class="lead">
  Here the list of created forms will be displayed with options like update,
  delete and share
</p>
<a href="{% url 'create_form' %}"
  ><button class="btn btn-success">Create form here</button></a
>
